.container {


    .secao1.dark {
        width: 100vw;
        font-size: $--sass-font-size;
        background-color: $--sass-black-color;
        font-family: $--sass-font-family;
        float: left;

    }

    &__article {
        width: 49vw;

        &__subtitle {
            color: $--sass-white-color;
            font-weight: $--sass-font-weigth;
        }
    }

    &__content {
        width: 49vw;

        &__image {
            display: block;
        }
    }

}