.navegator{
    display: flex;
    &__side{
        float: left;
        &__list{
            background-color: $--sass-blue-color;
            &__item{
                &__link{
                    font-family: $--sass-font-family;
                    font-weight: $--sass-font-weigth;
                    padding: $--sass-padding;
                    font-size: $--sass-font-size;
                    color: $--sass-red-color;
                }
            }
        }
    }
}