$--sass-black-color: #000;
$--sass-white-color: #fff;
$--sass-red-color: #f00;
$--sass-blue-color: #00f;
$--sass-text-align: center;
$--sass-font-family: Helvetica, monospace;
$--sass-font-weigth: bold;
$--sass-padding: 0.2em;
$--sass-font-size: 1.4em;
