@font-face {
    font-family: 'dakota';
    src: url('../fonts/dakota/dakota-regular-webfont.woff2') format('woff2'),
         url('../fonts/dakota/dakota-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chollatte';
    src: url('../fonts/chocolato/chollatte-regular-webfont.woff') format('woff2'),
         url('../fonts/chocolato/chollatte-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'manofik';
    src: url('../fonts/manofik/manofikpersonaluseonly-bold-webfont.woff2') format('woff2'),
         url('../fonts/manofik/manofikpersonaluseonly-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}