* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: black;
    color: white;

}

.first-container {
    background-image: url("../images/alien.dazm/artificial-brain.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 65rem;
    padding: 20px 0;
    margin-top: -20px;
}

header {
    display: block;
    float: left;
    width: 100%;
}

h1 {
    font-size: 6rem;
    margin: 2rem;
    color: #ff8000;
}

h1 + p {
    margin: 0 30rem;
    font-size: 3rem;
    color: #ff8000;
}

section {
    display: block;
    float: left;
    width: 100%;
    font-size: 1.5rem;
    /*padding: 20px;*/
}

section nav {
    display: block;
    float: left;
    width: 20%;
    height: 125vh;
}

nav li {
    background-color: grey;
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li:hover {
    background-color: honeydew;
}

nav > ul > li {
    font-size: 3rem;
}

.background-nav {
    background-image: url("../images/alien.dazm/AlienAffiliates.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}

section article {
    display: block;
    float: left;
    width: 80%;
}

.dna-ground {
    background-image: url("../images/alien.dazm/dna-200px.png");
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

ol {
    margin-left: 30px;
}

ol li {
    font-size: 1.4rem;
    color: burlywood;
}

footer {
    display: block;
    float: left;
    width: 100%;
    padding: 20px;
    background-color: darkslategrey;
}

footer p {
    color: floralwhite;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
    display: block;
}